In [19]:
import pandas as pd
df = pd.read_csv("taxi_raw_data.csv",dtype=None)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,12/1/2018 0:28,12/1/2018 0:44,2,2.50,148.0,234.0,1.0,1.0,12.0,0.5,0.5,3.95,0.0,0.3,17.25
1,1,12/1/2018 0:52,12/1/2018 1:11,3,2.30,170.0,144.0,1.0,1.0,13.0,0.5,0.5,2.85,0.0,0.3,17.15
2,2,12/1/2018 0:12,12/1/2018 0:36,1,0.00,113.0,193.0,1.0,2.0,2.5,0.5,0.5,0.00,0.0,0.3,3.80
3,1,12/1/2018 0:35,12/1/2018 0:43,1,3.90,95.0,92.0,1.0,1.0,12.5,0.5,0.5,2.75,0.0,0.3,16.55
4,1,12/1/2018 0:21,12/1/2018 1:15,1,12.80,163.0,228.0,1.0,1.0,45.0,0.5,0.5,9.25,0.0,0.3,55.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10010,1,12/1/2018 0:39,12/1/2018 0:45,1,1.10,13.0,88.0,1.0,2.0,6.5,0.5,0.5,0.00,0.0,0.3,7.80
10011,1,12/1/2018 0:49,12/1/2018 0:57,1,1.60,87.0,148.0,1.0,2.0,8.0,0.5,0.5,0.00,0.0,0.3,9.30
10012,2,12/1/2018 0:02,12/1/2018 0:14,2,7.08,50.0,243.0,1.0,1.0,20.0,0.5,0.5,5.32,0.0,0.3,26.62
10013,1,12/1/2018 0:05,12/1/2018 0:16,1,1.60,144.0,107.0,1.0,1.0,9.0,0.5,0.5,2.06,0.0,0.3,12.36
10014,1,12/1/2018 0:18,12/1/2018 0:30,1,1.60,107.0,4.0,1.0,1.0,9.0,0.5,0.5,1.00,0.0,0.3,11.30

In [2]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,12/1/2018 0:28,12/1/2018 0:44,2,2.5,148.0,234.0,1.0,1.0,12.0,0.5,0.5,3.95,0.0,0.3,17.25
1,1,12/1/2018 0:52,12/1/2018 1:11,3,2.3,170.0,144.0,1.0,1.0,13.0,0.5,0.5,2.85,0.0,0.3,17.15
2,2,12/1/2018 0:12,12/1/2018 0:36,1,0.0,113.0,193.0,1.0,2.0,2.5,0.5,0.5,0.00,0.0,0.3,3.80
3,1,12/1/2018 0:35,12/1/2018 0:43,1,3.9,95.0,92.0,1.0,1.0,12.5,0.5,0.5,2.75,0.0,0.3,16.55
4,1,12/1/2018 0:21,12/1/2018 1:15,1,12.8,163.0,228.0,1.0,1.0,45.0,0.5,0.5,9.25,0.0,0.3,55.55

In [3]:
df.describe()

,VendorID,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,10015.000000,10015.000000,10015.000000,10014.000000,10012.000000,10014.000000,10013.000000,10012.000000,10014.000000,10010.000000,10013.000000,10014.000000,10014.000000,10013.000000
mean,1.605592,1.704543,2.952141,154.376972,151.717539,1.023867,1.265954,12.669439,0.491891,0.497502,1.908532,0.133995,0.299131,15.984325
std,0.488748,1.278587,3.114570,66.993062,74.351299,0.253074,0.467348,10.186656,0.069941,0.043498,2.252717,0.919856,0.022217,12.051543
min,1.000000,0.000000,0.000000,4.000000,4.000000,1.000000,1.000000,-52.000000,-0.500000,-0.500000,0.000000,0.000000,-0.300000,-56.930000
25%,1.000000,1.000000,1.100000,100.250000,87.000000,1.000000,1.000000,6.500000,0.500000,0.500000,0.000000,0.000000,0.300000,8.800000
50%,2.000000,1.000000,1.900000,151.000000,148.000000,1.000000,1.000000,9.500000,0.500000,0.500000,1.560000,0.000000,0.300000,12.350000
75%,2.000000,2.000000,3.620000,230.000000,230.000000,1.000000,2.000000,15.000000,0.500000,0.500000,2.580000,0.000000,0.300000,18.950000
max,2.000000,6.000000,32.800000,265.000000,265.000000,5.000000,4.000000,350.000000,1.300000,0.500000,60.000000,17.280000,0.300000,350.300000

In [138]:
df1=df.loc[df['PULocationID']==0.00,'PULocationID']
print(df1)

Series([], Name: PULocationID, dtype: float64)

In [130]:
df.loc[df['DOLocationID']==161]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,New_Total,matching
201,2,12/1/2018 0:41,12/1/2018 0:49,4,1.45,237.0,161.0,1.0,2.0,7.5,0.5,0.5,0.0,0.00,0.3,8.80,8.80,False
226,2,12/1/2018 0:44,12/1/2018 0:54,1,2.10,107.0,161.0,1.0,2.0,9.0,0.5,0.5,0.0,0.00,0.3,10.30,10.30,False
372,1,12/1/2018 0:43,12/1/2018 0:50,1,0.90,233.0,161.0,1.0,2.0,6.5,0.5,0.5,0.0,0.00,0.3,7.80,7.80,False
396,1,12/1/2018 0:16,12/1/2018 0:30,1,2.30,68.0,161.0,1.0,1.0,11.5,0.5,0.5,2.0,0.00,0.3,14.80,14.80,False
423,1,12/1/2018 0:22,12/1/2018 0:32,1,1.50,234.0,161.0,1.0,2.0,8.0,0.5,0.5,0.0,0.00,0.3,9.30,9.30,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479,1,12/1/2018 0:16,12/1/2018 0:17,0,19.20,161.0,161.0,2.0,1.0,52.0,0.0,0.5,3.0,5.76,0.3,61.56,61.56,True
9507,2,12/1/2018 0:06,12/1/2018 0:10,5,0.83,234.0,161.0,1.0,2.0,5.0,0.5,0.5,0.0,0.00,0.3,6.30,6.30,False
9609,2,12/1/2018 0:17,12/1/2018 0:22,2,0.74,230.0,161.0,1.0,2.0,5.0,0.5,0.5,0.0,0.00,0.3,6.30,6.30,False
9757,1,12/1/2018 0:29,12/1/2018 0:29,1,0.10,161.0,161.0,2.0,2.0,52.0,0.0,0.5,0.0,0.00,0.3,52.80,52.80,False
9981,2,12/1/2018 0:12,12/1/2018 0:17,1,0.74,230.0,161.0,1.0,1.0,5.5,0.5,0.5,1.0,0.00,0.3,7.80,7.80,False

In [15]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,12/1/2018 0:28,12/1/2018 0:44,2,2.50,148.0,234.0,1.0,1.0,12.0,0.5,0.5,3.95,0.0,0.3,17.25
1,1,12/1/2018 0:52,12/1/2018 1:11,3,2.30,170.0,144.0,1.0,1.0,13.0,0.5,0.5,2.85,0.0,0.3,17.15
2,2,12/1/2018 0:12,12/1/2018 0:36,1,0.00,113.0,193.0,1.0,2.0,2.5,0.5,0.5,0.00,0.0,0.3,3.80
3,1,12/1/2018 0:35,12/1/2018 0:43,1,3.90,95.0,92.0,1.0,1.0,12.5,0.5,0.5,2.75,0.0,0.3,16.55
4,1,12/1/2018 0:21,12/1/2018 1:15,1,12.80,163.0,228.0,1.0,1.0,45.0,0.5,0.5,9.25,0.0,0.3,55.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10010,1,12/1/2018 0:39,12/1/2018 0:45,1,1.10,13.0,88.0,1.0,2.0,6.5,0.5,0.5,0.00,0.0,0.3,7.80
10011,1,12/1/2018 0:49,12/1/2018 0:57,1,1.60,87.0,148.0,1.0,2.0,8.0,0.5,0.5,0.00,0.0,0.3,9.30
10012,2,12/1/2018 0:02,12/1/2018 0:14,2,7.08,50.0,243.0,1.0,1.0,20.0,0.5,0.5,5.32,0.0,0.3,26.62
10013,1,12/1/2018 0:05,12/1/2018 0:16,1,1.60,144.0,107.0,1.0,1.0,9.0,0.5,0.5,2.06,0.0,0.3,12.36
10014,1,12/1/2018 0:18,12/1/2018 0:30,1,1.60,107.0,4.0,1.0,1.0,9.0,0.5,0.5,1.00,0.0,0.3,11.30

In [30]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'PULocationID', 'DOLocationID',
       'RatecodeID', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount'],
      dtype='object')

In [31]:
df.describe()

,VendorID,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,10015.000000,10015.000000,10015.000000,10014.000000,10012.000000,10014.000000,10013.000000,10012.000000,10014.000000,10010.000000,10013.000000,10014.000000,10014.000000,10013.000000
mean,1.605592,1.704543,2.952141,154.376972,151.717539,1.023867,1.265954,12.669439,0.491891,0.497502,1.908532,0.133995,0.299131,15.984325
std,0.488748,1.278587,3.114570,66.993062,74.351299,0.253074,0.467348,10.186656,0.069941,0.043498,2.252717,0.919856,0.022217,12.051543
min,1.000000,0.000000,0.000000,4.000000,4.000000,1.000000,1.000000,-52.000000,-0.500000,-0.500000,0.000000,0.000000,-0.300000,-56.930000
25%,1.000000,1.000000,1.100000,100.250000,87.000000,1.000000,1.000000,6.500000,0.500000,0.500000,0.000000,0.000000,0.300000,8.800000
50%,2.000000,1.000000,1.900000,151.000000,148.000000,1.000000,1.000000,9.500000,0.500000,0.500000,1.560000,0.000000,0.300000,12.350000
75%,2.000000,2.000000,3.620000,230.000000,230.000000,1.000000,2.000000,15.000000,0.500000,0.500000,2.580000,0.000000,0.300000,18.950000
max,2.000000,6.000000,32.800000,265.000000,265.000000,5.000000,4.000000,350.000000,1.300000,0.500000,60.000000,17.280000,0.300000,350.300000

In [33]:
df['New_Total'] = df['fare_amount']+df['extra']+df['mta_tax']+df['tip_amount']+df['tolls_amount']+df['improvement_surcharge']

In [34]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,New_Total
0,1,12/1/2018 0:28,12/1/2018 0:44,2,2.50,148.0,234.0,1.0,1.0,12.0,0.5,0.5,3.95,0.0,0.3,17.25,17.25
1,1,12/1/2018 0:52,12/1/2018 1:11,3,2.30,170.0,144.0,1.0,1.0,13.0,0.5,0.5,2.85,0.0,0.3,17.15,17.15
2,2,12/1/2018 0:12,12/1/2018 0:36,1,0.00,113.0,193.0,1.0,2.0,2.5,0.5,0.5,0.00,0.0,0.3,3.80,3.80
3,1,12/1/2018 0:35,12/1/2018 0:43,1,3.90,95.0,92.0,1.0,1.0,12.5,0.5,0.5,2.75,0.0,0.3,16.55,16.55
4,1,12/1/2018 0:21,12/1/2018 1:15,1,12.80,163.0,228.0,1.0,1.0,45.0,0.5,0.5,9.25,0.0,0.3,55.55,55.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10010,1,12/1/2018 0:39,12/1/2018 0:45,1,1.10,13.0,88.0,1.0,2.0,6.5,0.5,0.5,0.00,0.0,0.3,7.80,7.80
10011,1,12/1/2018 0:49,12/1/2018 0:57,1,1.60,87.0,148.0,1.0,2.0,8.0,0.5,0.5,0.00,0.0,0.3,9.30,9.30
10012,2,12/1/2018 0:02,12/1/2018 0:14,2,7.08,50.0,243.0,1.0,1.0,20.0,0.5,0.5,5.32,0.0,0.3,26.62,26.62
10013,1,12/1/2018 0:05,12/1/2018 0:16,1,1.60,144.0,107.0,1.0,1.0,9.0,0.5,0.5,2.06,0.0,0.3,12.36,12.36
10014,1,12/1/2018 0:18,12/1/2018 0:30,1,1.60,107.0,4.0,1.0,1.0,9.0,0.5,0.5,1.00,0.0,0.3,11.30,11.30

In [97]:
df1 = df.loc[(df['total_amount']!=df['New_Total'])]

In [99]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1692 entries, 1 to 10013
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               1692 non-null   int64
 1   tpep_pickup_datetime   1692 non-null   object
 2   tpep_dropoff_datetime  1692 non-null   object
 3   passenger_count        1692 non-null   int64
 4   trip_distance          1692 non-null   float64
 5   PULocationID           1691 non-null   float64
 6   DOLocationID           1691 non-null   float64
 7   RatecodeID             1691 non-null   float64
 8   payment_type           1690 non-null   float64
 9   fare_amount            1689 non-null   float64
 10  extra                  1691 non-null   float64
 11  mta_tax                1687 non-null   float64
 12  tip_amount             1690 non-null   float64
 13  tolls_amount           1691 non-null   float64
 14  improvement_surcharge  1691 non-null   float64
 15  total_amount           1690 non-null   float64
 16  New_Total              1681 non-null   float64
dtypes: float64(13), int64(2), object(2)
memory usage: 237.9+ KB

df1

In [98]:
df1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,New_Total
1,1,12/1/2018 0:52,12/1/2018 1:11,3,2.3,170.0,144.0,1.0,1.0,13.0,0.5,0.5,2.85,0.00,0.3,17.15,17.15
9,1,12/1/2018 0:16,12/1/2018 0:52,1,5.7,161.0,223.0,1.0,1.0,26.5,0.5,0.5,5.55,0.00,0.3,33.35,33.35
17,1,12/1/2018 0:42,12/1/2018 0:55,1,3.9,148.0,140.0,1.0,1.0,13.0,0.5,0.5,2.85,0.00,0.3,17.15,17.15
22,1,12/1/2018 0:03,12/1/2018 0:15,2,1.7,148.0,90.0,1.0,1.0,9.5,0.5,0.5,2.15,0.00,0.3,12.95,12.95
26,2,12/1/2018 0:11,12/1/2018 0:45,1,7.7,48.0,106.0,1.0,1.0,28.5,0.5,0.5,5.00,5.76,0.3,40.56,40.56

In [46]:
import numpy as np

In [146]:
df1 = np.where(df['total_amount']!=df['New_Total'])

In [147]:
df1

(array([    1,     9,    17, ..., 10003, 10004, 10013], dtype=int64),)

In [125]:
df2 = np.where(df['DOLocationID'] == 0)

In [127]:
df2

(array([], dtype=int64),)

In [56]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,New_Total
0,1,12/1/2018 0:28,12/1/2018 0:44,2,2.50,148.0,234.0,1.0,1.0,12.0,0.5,0.5,3.95,0.0,0.3,17.25,17.25
1,1,12/1/2018 0:52,12/1/2018 1:11,3,2.30,170.0,144.0,1.0,1.0,13.0,0.5,0.5,2.85,0.0,0.3,17.15,17.15
2,2,12/1/2018 0:12,12/1/2018 0:36,1,0.00,113.0,193.0,1.0,2.0,2.5,0.5,0.5,0.00,0.0,0.3,3.80,3.80
3,1,12/1/2018 0:35,12/1/2018 0:43,1,3.90,95.0,92.0,1.0,1.0,12.5,0.5,0.5,2.75,0.0,0.3,16.55,16.55
4,1,12/1/2018 0:21,12/1/2018 1:15,1,12.80,163.0,228.0,1.0,1.0,45.0,0.5,0.5,9.25,0.0,0.3,55.55,55.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10010,1,12/1/2018 0:39,12/1/2018 0:45,1,1.10,13.0,88.0,1.0,2.0,6.5,0.5,0.5,0.00,0.0,0.3,7.80,7.80
10011,1,12/1/2018 0:49,12/1/2018 0:57,1,1.60,87.0,148.0,1.0,2.0,8.0,0.5,0.5,0.00,0.0,0.3,9.30,9.30
10012,2,12/1/2018 0:02,12/1/2018 0:14,2,7.08,50.0,243.0,1.0,1.0,20.0,0.5,0.5,5.32,0.0,0.3,26.62,26.62
10013,1,12/1/2018 0:05,12/1/2018 0:16,1,1.60,144.0,107.0,1.0,1.0,9.0,0.5,0.5,2.06,0.0,0.3,12.36,12.36
10014,1,12/1/2018 0:18,12/1/2018 0:30,1,1.60,107.0,4.0,1.0,1.0,9.0,0.5,0.5,1.00,0.0,0.3,11.30,11.30

In [62]:
df.groupby(['VendorID']).count()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,New_Total
VendorID,,,,,,,,,,,,,,,,
1,3949,3950,3950,3950,3949,3949,3950,3949,3948,3950,3947,3950,3949,3950,3948,3944
2,6064,6064,6065,6065,6065,6063,6064,6064,6064,6064,6063,6063,6065,6064,6065,6060

In [124]:
df2 = df.groupby(['VendorID']).sum() [['total_amount']]
df2

          total_amount
VendorID
1             62365.92
2             97685.13

In [73]:
df3 = df.loc[df['passenger_count']>4,['VendorID','passenger_count']]

In [74]:
df3

      VendorID  passenger_count
101          2                5
102          2                5
103          2                5
169          2                5
170          2                5
...        ...              ...
9915         2                5
9974         2                5
9975         2                5
9976         2                5
9977         2                5

[760 rows x 2 columns]

In [75]:
df4 = df.loc[df['trip_distance']==0]
df4

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,New_Total
2,2,12/1/2018 0:12,12/1/2018 0:36,1,0.0,113.0,193.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
313,2,12/1/2018 0:40,12/1/2018 0:41,3,0.0,168.0,168.0,5.0,1.0,65.0,0.0,0.5,60.00,0.00,0.3,125.80,125.80
495,2,12/1/2018 0:27,12/1/2018 0:29,4,0.0,231.0,231.0,1.0,2.0,3.0,0.5,0.5,0.00,0.00,0.3,4.30,4.30
508,1,12/1/2018 0:22,12/1/2018 0:22,1,0.0,10.0,10.0,5.0,1.0,20.0,0.0,0.0,4.05,0.00,0.3,24.35,24.35
516,2,12/1/2018 0:16,12/1/2018 0:17,1,0.0,193.0,193.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
944,2,12/1/2018 0:08,12/1/2018 0:08,1,0.0,264.0,233.0,1.0,1.0,2.5,0.5,0.5,1.00,0.00,0.3,4.80,4.80
1174,2,12/1/2018 0:40,12/1/2018 0:40,1,0.0,79.0,79.0,2.0,2.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.00
1525,1,12/1/2018 0:39,12/1/2018 0:54,1,0.0,140.0,229.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
2005,2,12/1/2018 0:18,12/1/2018 0:18,1,0.0,262.0,262.0,5.0,1.0,10.0,0.0,0.5,2.16,0.00,0.3,12.96,12.96
2242,2,12/1/2018 0:02,12/1/2018 0:02,1,0.0,238.0,238.0,1.0,4.0,-2.5,-0.5,-0.5,0.00,0.00,-0.3,-3.80,-3.80
2243,2,12/1/2018 0:02,12/1/2018 0:02,1,0.0,238.0,238.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
2605,1,12/1/2018 0:55,12/1/2018 0:56,1,0.0,132.0,132.0,1.0,4.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
3152,2,12/1/2018 0:20,12/1/2018 0:20,1,0.0,264.0,41.0,5.0,1.0,10.8,0.0,0.0,2.22,0.00,0.3,13.32,13.32
3352,2,12/1/2018 0:36,12/1/2018 0:36,1,0.0,265.0,265.0,5.0,1.0,80.0,0.0,0.0,0.00,0.00,0.3,80.30,80.30
3502,1,12/1/2018 0:50,12/1/2018 0:50,1,0.0,161.0,161.0,1.0,3.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
4302,2,12/1/2018 0:11,12/1/2018 0:11,5,0.0,264.0,239.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
4303,2,12/1/2018 0:11,12/1/2018 0:12,5,0.0,239.0,239.0,2.0,1.0,52.0,0.0,0.5,10.56,0.00,0.3,63.36,63.36
4426,2,12/1/2018 0:54,12/1/2018 0:54,2,0.0,264.0,210.0,5.0,1.0,55.0,0.0,0.5,2.00,0.00,0.3,57.80,57.80
4616,2,12/1/2018 0:36,12/1/2018 0:36,1,0.0,50.0,50.0,5.0,1.0,20.3,0.0,0.5,0.00,0.00,0.3,21.10,21.10
4678,2,12/1/2018 0:14,12/1/2018 0:14,2,0.0,42.0,42.0,2.0,1.0,52.0,0.0,0.5,11.71,5.76,0.3,70.27,70.27
5476,1,12/1/2018 0:26,12/1/2018 0:26,1,0.0,249.0,264.0,1.0,2.0,17.5,0.5,0.5,0.00,0.00,0.3,18.80,18.80
6136,1,12/1/2018 0:02,12/1/2018 0:03,1,0.0,163.0,163.0,5.0,1.0,12.5,0.0,0.0,2.55,0.00,0.3,15.35,15.35
6286,1,12/1/2018 0:05,12/1/2018 0:05,1,0.0,249.0,249.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
6308,1,12/1/2018 0:10,12/1/2018 0:17,3,0.0,138.0,138.0,1.0,2.0,6.0,0.5,0.5,0.00,0.00,0.3,7.30,7.30
6392,2,12/1/2018 0:43,12/1/2018 0:43,1,0.0,141.0,141.0,2.0,2.0,52.0,0.0,0.5,0.00,0.00,0.3,52.80,52.80
6406,1,12/1/2018 0:33,12/1/2018 0:34,1,0.0,48.0,48.0,2.0,1.0,52.0,0.0,0.5,10.00,5.76,0.3,68.56,68.56
6463,1,12/1/2018 0:16,12/1/2018 0:17,1,0.0,162.0,162.0,1.0,3.0,3.0,0.5,0.5,0.00,0.00,0.3,4.30,4.30
7114,2,12/1/2018 0:19,12/1/2018 0:19,1,0.0,107.0,107.0,2.0,1.0,52.0,0.0,0.5,11.71,5.76,0.3,70.27,70.27
7140,1,12/1/2018 0:55,12/1/2018 0:55,1,0.0,170.0,264.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
7141,1,12/1/2018 0:55,12/1/2018 0:55,1,0.0,170.0,264.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
7202,1,12/1/2018 0:10,12/1/2018 0:12,1,0.0,261.0,261.0,1.0,3.0,3.0,0.5,0.5,0.00,0.00,0.3,4.30,4.30
7454,1,12/1/2018 0:34,12/1/2018 0:35,1,0.0,119.0,119.0,5.0,2.0,13.0,0.0,0.0,0.00,0.00,0.3,13.30,13.30
7751,2,12/1/2018 0:22,12/1/2018 0:22,3,0.0,264.0,107.0,5.0,1.0,6.8,0.0,0.0,0.00,0.00,0.3,7.10,7.10
7760,1,12/1/2018 0:40,12/1/2018 0:46,1,0.0,256.0,256.0,1.0,4.0,5.0,0.5,0.5,0.00,0.00,0.3,6.30,6.30
7981,2,12/1/2018 0:07,12/1/2018 0:07,2,0.0,90.0,90.0,2.0,2.0,52.0,0.0,0.5,0.00,0.00,0.3,52.80,52.80
8078,2,12/1/2018 0:57,12/1/2018 0:57,1,0.0,265.0,265.0,5.0,2.0,50.0,0.0,0.0,0.00,0.00,0.3,50.30,50.30
8384,1,12/1/2018 0:19,12/1/2018 0:19,1,0.0,236.0,236.0,5.0,3.0,22.0,0.0,0.0,0.00,0.00,0.3,22.30,22.30
8385,1,12/1/2018 0:21,12/1/2018 0:22,1,0.0,236.0,236.0,5.0,3.0,22.0,0.0,0.0,0.00,0.00,0.3,22.30,22.30
8760,2,12/1/2018 0:14,12/1/2018 0:15,2,0.0,264.0,219.0,5.0,1.0,65.0,0.0,0.5,0.00,0.00,0.0,65.50,65.50
8946,2,12/1/2018 0:35,12/1/2018 0:35,1,0.0,264.0,40.0,5.0,1.0,26.3,0.0,0.5,5.42,0.00,0.3,32.52,32.52
9130,2,12/1/2018 0:43,12/1/2018 0:44,1,0.0,236.0,236.0,1.0,1.0,2.5,0.5,0.5,5.50,0.00,0.3,9.30,9.30
9398,1,12/1/2018 0:36,12/1/2018 0:36,1,0.0,114.0,114.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
9529,2,12/1/2018 0:58,12/1/2018 1:02,1,0.0,114.0,114.0,1.0,1.0,4.0,0.5,0.5,0.00,0.00,0.3,5.30,5.30
9550,1,12/1/2018 0:14,12/1/2018 0:14,1,0.0,90.0,264.0,1.0,2.0,30.5,0.5,0.5,0.00,0.00,0.3,31.80,31.80
9797,2,12/1/2018 0:25,12/1/2018 0:25,2,0.0,145.0,145.0,5.0,1.0,350.0,0.0,0.0,0.00,0.00,0.3,350.30,350.30
9874,1,12/1/2018 0:16,12/1/2018 0:18,1,0.0,230.0,230.0,1.0,4.0,3.5,0.5,0.5,0.00,0.00,0.3,4.80,4.80
9883,1,12/1/2018 0:50,12/1/2018 0:51,3,0.0,132.0,132.0,1.0,2.0,3.0,0.5,0.5,0.00,0.00,0.3,4.30,4.30
9896,2,12/1/2018 0:00,12/1/2018 0:01,5,0.0,79.0,148.0,2.0,3.0,-52.0,0.0,-0.5,0.00,0.00,-0.3,-52.80,-52.80
9897,2,12/1/2018 0:00,12/1/2018 0:01,5,0.0,79.0,148.0,2.0,2.0,52.0,0.0,0.5,0.00,0.00,0.3,52.80,52.80

In [79]:
df5 = df.loc[(df['trip_distance']==0) & (df['total_amount']>0)]
df5

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,New_Total
2,2,12/1/2018 0:12,12/1/2018 0:36,1,0.0,113.0,193.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
313,2,12/1/2018 0:40,12/1/2018 0:41,3,0.0,168.0,168.0,5.0,1.0,65.0,0.0,0.5,60.00,0.00,0.3,125.80,125.80
495,2,12/1/2018 0:27,12/1/2018 0:29,4,0.0,231.0,231.0,1.0,2.0,3.0,0.5,0.5,0.00,0.00,0.3,4.30,4.30
508,1,12/1/2018 0:22,12/1/2018 0:22,1,0.0,10.0,10.0,5.0,1.0,20.0,0.0,0.0,4.05,0.00,0.3,24.35,24.35
516,2,12/1/2018 0:16,12/1/2018 0:17,1,0.0,193.0,193.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
944,2,12/1/2018 0:08,12/1/2018 0:08,1,0.0,264.0,233.0,1.0,1.0,2.5,0.5,0.5,1.00,0.00,0.3,4.80,4.80
1525,1,12/1/2018 0:39,12/1/2018 0:54,1,0.0,140.0,229.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
2005,2,12/1/2018 0:18,12/1/2018 0:18,1,0.0,262.0,262.0,5.0,1.0,10.0,0.0,0.5,2.16,0.00,0.3,12.96,12.96
2243,2,12/1/2018 0:02,12/1/2018 0:02,1,0.0,238.0,238.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
2605,1,12/1/2018 0:55,12/1/2018 0:56,1,0.0,132.0,132.0,1.0,4.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
3152,2,12/1/2018 0:20,12/1/2018 0:20,1,0.0,264.0,41.0,5.0,1.0,10.8,0.0,0.0,2.22,0.00,0.3,13.32,13.32
3352,2,12/1/2018 0:36,12/1/2018 0:36,1,0.0,265.0,265.0,5.0,1.0,80.0,0.0,0.0,0.00,0.00,0.3,80.30,80.30
3502,1,12/1/2018 0:50,12/1/2018 0:50,1,0.0,161.0,161.0,1.0,3.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
4302,2,12/1/2018 0:11,12/1/2018 0:11,5,0.0,264.0,239.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
4303,2,12/1/2018 0:11,12/1/2018 0:12,5,0.0,239.0,239.0,2.0,1.0,52.0,0.0,0.5,10.56,0.00,0.3,63.36,63.36
4426,2,12/1/2018 0:54,12/1/2018 0:54,2,0.0,264.0,210.0,5.0,1.0,55.0,0.0,0.5,2.00,0.00,0.3,57.80,57.80
4616,2,12/1/2018 0:36,12/1/2018 0:36,1,0.0,50.0,50.0,5.0,1.0,20.3,0.0,0.5,0.00,0.00,0.3,21.10,21.10
4678,2,12/1/2018 0:14,12/1/2018 0:14,2,0.0,42.0,42.0,2.0,1.0,52.0,0.0,0.5,11.71,5.76,0.3,70.27,70.27
5476,1,12/1/2018 0:26,12/1/2018 0:26,1,0.0,249.0,264.0,1.0,2.0,17.5,0.5,0.5,0.00,0.00,0.3,18.80,18.80
6136,1,12/1/2018 0:02,12/1/2018 0:03,1,0.0,163.0,163.0,5.0,1.0,12.5,0.0,0.0,2.55,0.00,0.3,15.35,15.35
6286,1,12/1/2018 0:05,12/1/2018 0:05,1,0.0,249.0,249.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
6308,1,12/1/2018 0:10,12/1/2018 0:17,3,0.0,138.0,138.0,1.0,2.0,6.0,0.5,0.5,0.00,0.00,0.3,7.30,7.30
6392,2,12/1/2018 0:43,12/1/2018 0:43,1,0.0,141.0,141.0,2.0,2.0,52.0,0.0,0.5,0.00,0.00,0.3,52.80,52.80
6406,1,12/1/2018 0:33,12/1/2018 0:34,1,0.0,48.0,48.0,2.0,1.0,52.0,0.0,0.5,10.00,5.76,0.3,68.56,68.56
6463,1,12/1/2018 0:16,12/1/2018 0:17,1,0.0,162.0,162.0,1.0,3.0,3.0,0.5,0.5,0.00,0.00,0.3,4.30,4.30
7114,2,12/1/2018 0:19,12/1/2018 0:19,1,0.0,107.0,107.0,2.0,1.0,52.0,0.0,0.5,11.71,5.76,0.3,70.27,70.27
7140,1,12/1/2018 0:55,12/1/2018 0:55,1,0.0,170.0,264.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
7141,1,12/1/2018 0:55,12/1/2018 0:55,1,0.0,170.0,264.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
7202,1,12/1/2018 0:10,12/1/2018 0:12,1,0.0,261.0,261.0,1.0,3.0,3.0,0.5,0.5,0.00,0.00,0.3,4.30,4.30
7454,1,12/1/2018 0:34,12/1/2018 0:35,1,0.0,119.0,119.0,5.0,2.0,13.0,0.0,0.0,0.00,0.00,0.3,13.30,13.30
7751,2,12/1/2018 0:22,12/1/2018 0:22,3,0.0,264.0,107.0,5.0,1.0,6.8,0.0,0.0,0.00,0.00,0.3,7.10,7.10
7760,1,12/1/2018 0:40,12/1/2018 0:46,1,0.0,256.0,256.0,1.0,4.0,5.0,0.5,0.5,0.00,0.00,0.3,6.30,6.30
7981,2,12/1/2018 0:07,12/1/2018 0:07,2,0.0,90.0,90.0,2.0,2.0,52.0,0.0,0.5,0.00,0.00,0.3,52.80,52.80
8078,2,12/1/2018 0:57,12/1/2018 0:57,1,0.0,265.0,265.0,5.0,2.0,50.0,0.0,0.0,0.00,0.00,0.3,50.30,50.30
8384,1,12/1/2018 0:19,12/1/2018 0:19,1,0.0,236.0,236.0,5.0,3.0,22.0,0.0,0.0,0.00,0.00,0.3,22.30,22.30
8385,1,12/1/2018 0:21,12/1/2018 0:22,1,0.0,236.0,236.0,5.0,3.0,22.0,0.0,0.0,0.00,0.00,0.3,22.30,22.30
8760,2,12/1/2018 0:14,12/1/2018 0:15,2,0.0,264.0,219.0,5.0,1.0,65.0,0.0,0.5,0.00,0.00,0.0,65.50,65.50
8946,2,12/1/2018 0:35,12/1/2018 0:35,1,0.0,264.0,40.0,5.0,1.0,26.3,0.0,0.5,5.42,0.00,0.3,32.52,32.52
9130,2,12/1/2018 0:43,12/1/2018 0:44,1,0.0,236.0,236.0,1.0,1.0,2.5,0.5,0.5,5.50,0.00,0.3,9.30,9.30
9398,1,12/1/2018 0:36,12/1/2018 0:36,1,0.0,114.0,114.0,1.0,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80
9529,2,12/1/2018 0:58,12/1/2018 1:02,1,0.0,114.0,114.0,1.0,1.0,4.0,0.5,0.5,0.00,0.00,0.3,5.30,5.30
9550,1,12/1/2018 0:14,12/1/2018 0:14,1,0.0,90.0,264.0,1.0,2.0,30.5,0.5,0.5,0.00,0.00,0.3,31.80,31.80
9797,2,12/1/2018 0:25,12/1/2018 0:25,2,0.0,145.0,145.0,5.0,1.0,350.0,0.0,0.0,0.00,0.00,0.3,350.30,350.30
9874,1,12/1/2018 0:16,12/1/2018 0:18,1,0.0,230.0,230.0,1.0,4.0,3.5,0.5,0.5,0.00,0.00,0.3,4.80,4.80
9883,1,12/1/2018 0:50,12/1/2018 0:51,3,0.0,132.0,132.0,1.0,2.0,3.0,0.5,0.5,0.00,0.00,0.3,4.30,4.30
9897,2,12/1/2018 0:00,12/1/2018 0:01,5,0.0,79.0,148.0,2.0,2.0,52.0,0.0,0.5,0.00,0.00,0.3,52.80,52.80

In [85]:
df5.to_csv("Trips_with_zero_distance.csv", index=False)

In [82]:
df6 = df.loc[df['total_amount']<0, ['VendorID','tpep_pickup_datetime','tpep_dropoff_datetime','trip_distance','total_amount']]
df6

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,total_amount
863,2,12/1/2018 0:33,12/1/2018 0:36,0.62,-5.30
2242,2,12/1/2018 0:02,12/1/2018 0:02,0.00,-3.80
4132,2,12/1/2018 0:52,12/1/2018 0:57,0.63,-6.30
4424,2,12/1/2018 0:09,12/1/2018 0:09,0.03,-3.80
4814,2,12/1/2018 0:04,12/1/2018 0:08,0.51,-5.80
4878,2,12/1/2018 0:53,12/1/2018 1:30,14.55,-56.93
5284,2,12/1/2018 0:56,12/1/2018 0:57,0.09,-4.30
5433,2,11/30/2018 23:55,11/30/2018 23:56,0.15,-4.30
6638,2,12/1/2018 0:50,12/1/2018 0:53,0.11,-4.80
6718,2,12/1/2018 0:48,12/1/2018 0:59,2.45,-13.30
6860,2,12/1/2018 0:45,12/1/2018 0:45,0.04,-3.80
7219,2,12/1/2018 0:14,12/1/2018 0:19,0.47,-5.80
7749,2,12/1/2018 0:15,12/1/2018 0:21,0.74,-6.80
7768,2,12/1/2018 0:07,12/1/2018 0:16,0.91,-8.30
8132,2,12/1/2018 0:32,12/1/2018 0:35,0.35,-5.30
9236,2,12/1/2018 0:10,12/1/2018 0:28,3.60,-19.56
9896,2,12/1/2018 0:00,12/1/2018 0:01,0.00,-52.80

In [84]:
df6.to_csv("Trips_with_negative_total.csv", index=False)

In [86]:
df.groupby(['payment_type']).count()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,New_Total
payment_type,,,,,,,,,,,,,,,,
1.0,7444,7442,7443,7444,7444,7443,7442,7443,7443,7443,7439,7442,7443,7443,7444,7435
2.0,2497,2497,2497,2497,2497,2497,2496,2497,2495,2497,2497,2497,2497,2497,2496,2495
3.0,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50
4.0,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22

In [113]:
df['matching'] = df['total_amount']!= df['New_Total']

In [110]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,New_Total,matching
0,1,12/1/2018 0:28,12/1/2018 0:44,2,2.50,148.0,234.0,1.0,1.0,12.0,0.5,0.5,3.95,0.0,0.3,17.25,17.25,False
1,1,12/1/2018 0:52,12/1/2018 1:11,3,2.30,170.0,144.0,1.0,1.0,13.0,0.5,0.5,2.85,0.0,0.3,17.15,17.15,True
2,2,12/1/2018 0:12,12/1/2018 0:36,1,0.00,113.0,193.0,1.0,2.0,2.5,0.5,0.5,0.00,0.0,0.3,3.80,3.80,False
3,1,12/1/2018 0:35,12/1/2018 0:43,1,3.90,95.0,92.0,1.0,1.0,12.5,0.5,0.5,2.75,0.0,0.3,16.55,16.55,False
4,1,12/1/2018 0:21,12/1/2018 1:15,1,12.80,163.0,228.0,1.0,1.0,45.0,0.5,0.5,9.25,0.0,0.3,55.55,55.55,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10010,1,12/1/2018 0:39,12/1/2018 0:45,1,1.10,13.0,88.0,1.0,2.0,6.5,0.5,0.5,0.00,0.0,0.3,7.80,7.80,False
10011,1,12/1/2018 0:49,12/1/2018 0:57,1,1.60,87.0,148.0,1.0,2.0,8.0,0.5,0.5,0.00,0.0,0.3,9.30,9.30,False
10012,2,12/1/2018 0:02,12/1/2018 0:14,2,7.08,50.0,243.0,1.0,1.0,20.0,0.5,0.5,5.32,0.0,0.3,26.62,26.62,False
10013,1,12/1/2018 0:05,12/1/2018 0:16,1,1.60,144.0,107.0,1.0,1.0,9.0,0.5,0.5,2.06,0.0,0.3,12.36,12.36,True
10014,1,12/1/2018 0:18,12/1/2018 0:30,1,1.60,107.0,4.0,1.0,1.0,9.0,0.5,0.5,1.00,0.0,0.3,11.30,11.30,False